@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import 'leaflet/dist/leaflet.css';

/* 自定义地图样式 */
.custom-popup .leaflet-popup-content-wrapper {
  border-radius: 12px;
  padding: 0;
  overflow: hidden;
}

.custom-popup .leaflet-popup-content {
  margin: 0;
  padding: 12px;
}

.custom-popup .leaflet-popup-tip {
  background: white;
}
